/* Code tidied up by ScrapBook */
body { padding-top: 127px; }
@media (max-width: 768px) {
  body { padding-top: 150px; }
}
.tb_spacer { padding-top: 60px; padding-bottom: 60px; }
.t_spacer { padding-top: 120px; }
ul li a { color: rgb(51, 51, 51); }
ul li a:hover { color: rgb(209, 44, 54); text-decoration: none; }
a { color: rgb(51, 51, 51); }
a:hover { color: rgb(209, 44, 54); }
.btn-action { display: inline-block; background: rgb(223, 61, 71) none repeat scroll 0% 0%; padding: 12px 24px; border: 1px solid rgb(223, 61, 71); border-radius: 8px; font-size: 16px; color: rgb(255, 255, 255); transition: background 0.15s ease-in-out 0s; }
.btn-action:hover { background: rgb(209, 44, 54) none repeat scroll 0% 0%; border: 1px solid rgb(209, 44, 54); color: rgb(255, 255, 255); text-decoration: none; transition: background 0.15s ease-in-out 0s; }
.nav-pills .nav-link { padding: 8px; font-size: 1.5rem; font-weight: 500; }
.nav-pills .nav-link.active { background: rgb(51, 51, 51) none repeat scroll 0% 0%; padding: 8px 24px; border-radius: 32px; }
.link_button_icon a { border-bottom: 0px none ! important; }
.link_button_icon img { margin-left: 16px; }
.header { padding: 0px; border-bottom: 1px solid rgb(242, 242, 242); box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.05); }
.header-container-midle { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-bottom: 1px solid rgb(242, 242, 242); }
.header-container-midle .social .nav-link { padding: 16px 8px; }
.social a svg:hover #vk { fill: rgb(75, 118, 169); }
.social a svg:hover #fb { fill: rgb(25, 119, 243); }
.social a svg:hover #inst { fill: rgb(193, 0, 161); }
.social a svg:hover #twit { fill: rgb(28, 161, 240); }
.social a svg:hover #yt { fill: rgb(255, 0, 0); }
.social a svg:hover #tikTok { fill: rgb(37, 244, 238); }
.header-container-bottom { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.header-container-bottom .schedule a { color: rgb(209, 44, 54) ! important; font-weight: 700; }
.navbar-menu { padding: 0px 8px; }
.nav-link { padding: 16px; }
.top-menu .nav-item { padding-right: 4px; }
.top-menu .nav-link { color: rgb(51, 51, 51); font-size: 14px; font-weight: 500; }
.top-menu .nav-link:hover { color: rgb(209, 44, 54); transition: color 0.2s ease 0s; }
.navbar-toggler:focus { outline: medium none; }
.header-container-midle a { color: rgb(153, 153, 153); font-size: 16px; }
.header-container-midle .phone a { color: rgb(209, 44, 54); font-weight: 700; }
@media (max-width: 992px) {
  .navbar-menu { padding: 8px 0px; }
  .navbar-nav { padding-top: 24px; }
  .navbar .navbar-nav .nav-link { height: 48px; text-align: right; font-size: 18px; }
  .navbar .navbar-nav .nav-link:hover { color: rgb(204, 0, 0); }
  .services_card, .instructors_prew, .card_top_lessons { margin-bottom: 32px; }
  .card-img-overlay { margin: 8px 0px 0px 8px ! important; }
}
.social_header { float: right; }
.social_header li a { display: inline-block ! important; padding: 16px; }
.container-fluid.carousel-container { padding-right: 0px; padding-left: 0px; }
.carousel-control-prev { width: 32px; margin-left: 24px; }
.carousel-control-next { width: 32px; margin-right: 24px; }
.carousel-control-prev-icon { display: block; background: transparent url("chevron_left-24px_grey.svg") no-repeat scroll 0% 0%; width: 20px; height: 20px; }
.carousel-control-next-icon { display: block; background: transparent url("chevron_right-24px_grey.svg") no-repeat scroll 0% 0%; width: 20px; height: 20px; }
.carousel-indicators li { background: rgb(204, 204, 204) none repeat scroll 0% 0%; width: 6px; height: 6px; border: 1px solid rgb(204, 204, 204); border-radius: 6px; }
.carousel-indicators { margin-bottom: 16px; }
.carousel-item { min-height: 400px; }
.carousel-img { padding: 0px; width: 85%; position: absolute; top: 0px; right: 15%; left: 6%; z-index: 10; color: rgb(51, 51, 51); text-align: right; }
.oneslide { background: rgb(0, 97, 66) none repeat scroll 0% 0%; }
.twoslide { background: rgb(209, 44, 54) none repeat scroll 0% 0%; }
.carousel-caption.white { color: rgb(255, 255, 255); }
.carousel-caption { padding: 0px; width: 50%; position: absolute; top: 30%; right: 15%; left: 6%; z-index: 10; color: rgb(51, 51, 51); text-align: left; }
.carousel-caption h2 { font-weight: 800; }
@media (max-width: 600px) {
  .carousel-img { display: none; }
  .carousel-caption { width: 100% ! important; }
}
@media (max-width: 992px) {
  .carousel-img { top: 0%; right: 0%; left: 16%; }
  .carousel-inner { height: 200px; }
  .carousel-caption { top: 24px ! important; }
  .carousel-caption h2 { font-size: 1.3em; }
  .carousel-indicators li { width: 2px; height: 2px; border: 1px solid rgb(204, 204, 204); border-radius: 2px; }
  .carousel-control-next, .carousel-control-prev { display: none; }
  .btn-action { padding: 8px 16px; font-size: 16px; }
}
.fullbgimg { margin-bottom: 0px; height: calc(100vh - 500px); position: relative; min-height: 400px; background-position: center center; background-size: cover; }
.main_img { background: rgb(209, 44, 54) url("trenazhery.jpg") repeat scroll 0% 0%; }
.group_room_img { background: rgb(209, 44, 54) url("gruppovoyzal.jpg") repeat scroll 0% 0%; }
.bg_gray { background: rgb(248, 248, 248) none repeat scroll 0% 0%; padding: 80px 0px; }
.bg_bej { background: rgb(243, 241, 237) none repeat scroll 0% 0%; padding: 80px 0px; }
.bg_pink { background: rgb(247, 225, 226) none repeat scroll 0% 0%; padding: 80px 0px; }
@media (max-width: 768px) {
  .stock-banner { margin-top: 0px; margin-bottom: 24px ! important; }
  .stock-banner img { display: none; }
}
.stock-banner { max-width: 450px; color: rgb(255, 255, 255); margin-bottom: 80px; }
.stock-banner h4 { padding-bottom: 16px; font-size: 26px; font-weight: 600; }
.stock-banner a.stretched-link { color: rgb(255, 255, 255); text-decoration: none; }
.stock-banner .btn-outline-light:hover { background: transparent none repeat scroll 0% 0%; }
.l_card { border: medium none; box-shadow: 0px 2px 15px rgba(205, 145, 255, 0.05); transition: box-shadow 0.2s ease-in-out 0s; background: transparent linear-gradient(146deg, rgb(255, 196, 196) 0%, rgb(205, 145, 255) 100%) repeat scroll 0% 0%; }
.l_card:hover { box-shadow: 0px 2px 15px rgba(205, 145, 255, 0.5); transition: box-shadow 0.2s ease-in-out 0s; }
.r_card { border: medium none; box-shadow: 0px 2px 15px rgba(255, 121, 138, 0.05); transition: box-shadow 0.2s ease-in-out 0s; background: transparent linear-gradient(146deg, rgb(255, 207, 179) 0%, rgb(255, 121, 138) 100%) repeat scroll 0% 0%; }
.r_card:hover { box-shadow: 0px 2px 15px rgba(255, 121, 138, 0.5); transition: box-shadow 0.2s ease-in-out 0s; }
.services_card { padding: 24px 16px; }
.card_top_lessons, .card_articles { border: medium none ! important; }
.card_prew { text-align: center; }
.card_prew h4, .card_articles h4 a { padding: 24px 0px 8px; }
.card_prew h4 a, .card_articles h4 a { color: rgb(51, 51, 51); }
.card_prew h4 a:hover, .card_articles h4 a:hover { color: rgb(209, 44, 54); text-decoration: none; }
.card_prew p, .card_articles p { color: rgb(153, 153, 153); }
.card_w_bg { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(255, 255, 255); border-radius: 8px; box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05); }
.card_w_bg .card-img-top { border-top-left-radius: 8px; border-top-right-radius: 8px; }
.card_w_bg:hover { box-shadow: 0px 2px 15px rgba(139, 0, 0, 0.137); transition: box-shadow 0.2s ease-in-out 0s; }
.card_articles { margin-bottom: 16px; }
.card { border-radius: 8px; border: 0px none; }
.card-img-overlay { max-width: 700px; margin: 40px 0px 0px 40px; }
.card-title { position: relative; margin: 0px; font-size: 38px; font-weight: 400; line-height: 1.3em; }
.text-title { background: rgb(223, 61, 71) none repeat scroll 0% 0%; display: inline; padding: 5px 0px 10px; color: rgb(255, 255, 255); box-shadow: 0.3em 0px 0px rgb(223, 61, 71), -0.3em 0px 0px rgb(223, 61, 71); }
.card-text { position: relative; margin: 0px; font-size: 16px; line-height: 1.6em; }
.text-description { background: rgb(223, 61, 71) none repeat scroll 0% 0%; display: inline; padding: 5px 0px 10px; color: rgb(255, 255, 255); box-shadow: 0.7em 0px 0px rgb(223, 61, 71), -0.7em 0px 0px rgb(223, 61, 71); }
.card-button { margin: 64px 0px 0px -8px; }
@media (max-width: 992px) {
}
.navbar-content { margin-bottom: 64px; }
.navbar-content li { padding: 0px 16px 0px 0px; }
.navbar-content li a { border: medium none; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-radius: 8px; }
.navbar-content li a:hover { border: medium none; }
@media (max-width: 768px) {
  .navbar-content li { padding: 0px 16px 16px 0px; }
}
@media (max-width: 987px) {
}
@media (max-width: 768px) {
}
@media (max-width: 768px) {
}
@media (max-width: 500px) {
}
footer { background: rgb(51, 51, 51) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
footer ul li a { color: rgb(255, 255, 255); }
footer .menu_footer { padding: 24px 16px; }
footer .copyright { background: rgb(0, 0, 0) none repeat scroll 0% 0%; padding: 24px 0px; }
footer .copyright ul { margin: 0px; }
@media (max-width: 992px) {
  footer .copyright ul { margin-bottom: 24px; }
}
